* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
background-image: url(https://i.ibb.co/qNv7NxZ/pc.webp);
  background-size: cover;
  background-position: center;
  transition: background 0.5s ease;
}

.app {
  width: 1200px;
  margin: 40px auto;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(248, 250, 252, 0.9);
}

/* LEFT PANEL */
.left {
  width: 300px;
  padding: 30px;
  background: rgba(255,255,255,0.9);
  text-align: center;
}

.left input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
}

#searchBtn {
  margin-top: 10px;
}


.left img {
  width: 120px;
  margin: 20px auto;
  display: block;
}

.left h1 {
  font-size: 64px;
}

.left p {
  margin-top: 6px;
  color: #475569;
}

/* RIGHT PANEL */
.right {
  flex: 1;
  padding: 30px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs span {
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
}

.tabs .active {
  color: #2563eb;
}

.unit-toggle button {
  border: none;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 6px;
}

.unit-toggle .active {
  background: black;
  color: white;
}

/* HOURLY FORECAST */
.hourly {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 15px;
  margin-top: 25px;
  max-height: 360px;
  overflow-x: auto;
}

/* WEEKLY FORECAST */
.weekly {
  display: none;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  margin-top: 25px;
}

.hour, .day {
  background: white;
  padding: 15px;
  border-radius: 14px;
  text-align: center;
}

.hour img, .day img {
  width: 40px;
  margin: 8px 0;
}

.highlights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 14px;
}

.card span {
  display: block;
  font-size: 22px;
  margin-top: 8px;
}


/* ----------------- MEDIA QUERIES ----------------- */

/* Tablets */
@media screen and (max-width: 992px) {
  .app {
    flex-direction: column;
    max-width: 95%;
  }
  .left {
    width: 100%;
    margin-bottom: 20px;
  }
  .hourly {
    grid-template-columns: repeat(6, 1fr);
  }
  .weekly {
    grid-template-columns: repeat(6, 1fr);
  }
  .highlights {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media screen and (max-width: 600px) {
  .left h1 {
    font-size: 48px;
  }
  .hourly {
    grid-template-columns: repeat(4, 1fr);
    overflow-x: scroll;
  }
  .weekly {
    grid-template-columns: repeat(4, 1fr);
    overflow-x: scroll;
  }
  .highlights {
    grid-template-columns: 1fr;
  }
  .unit-toggle button {
    padding: 6px 10px;
    margin-left: 4px;
  }
  .tabs span {
    margin-right: 10px;
  }
}
